apiVersion: v1
kind: Template
metadata:
  name: tasks-frontend
objects:
  - apiVersion: cloud.redhat.com/v1alpha1
    kind: Frontend
    metadata:
      name: tasks
    spec:
      envName: ${ENV_NAME}
      title: Tasks
      deploymentRepo: https://github.com/RedHatInsights/tasks-frontend
      API:
        versions:
          - v1
      frontend:
        paths:
          - /apps/tasks
      image: ${IMAGE}:${IMAGE_TAG}
      navItems:
        - expandable: true
        title: Toolkit
        routes:
          - appId: "tasks"
            title: "Tasks"
            href: "/insights/toolkit/tasks"
            product: "Red Hat Insights"
      module:
        manifestLocation: "/apps/tasks/fed-mods.json"
        modules:
          - id: "tasks"
            module: "./RootApp"
            routes:
              - pathname: /insights/tasks

parameters:
  - name: ENV_NAME
    required: true
  - name: IMAGE_TAG
    required: true
  - name: IMAGE
    value: quay.io/cloudservices/tasks-frontend