.pf-v6-c-expandable-section__content {
  margin-block-start: 0;
}
.pf-v6-c-expandable-section__toggle-text {
  font-weight: bold;
}
ul li {
  list-style: disc inside;
  padding-top: var(--pf-v6-global--spacer--xs);
}
