// Importing Global Variables
@import "~@redhat-cloud-services/frontend-components-utilities/styles/all";

.completed-task-details-button {
  margin: auto;
  display: flex;
  justify-content: right;
}

.completed-task-details-info-border {
  padding: 16px;
  width: 80%;
}

.card-task-description {
  width: 80%;
}

.entry-title {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 8px;
  font-weight: bold;
}

.entry-detail-title {
  margin-bottom: 24px;
}

.entry-detail-content {
  font-size: '14px';
  font-weight: 500;
}

.remediations-font-family {
  font-family: 'overpass-mono', sans-serif;
}

.my-app-modified-drawer-width .pf-v6-c-drawer__panel {
  --pf-v6-c-drawer__panel--md--FlexBasis: 50%;
  --pf-v6-c-drawer__panel--md--FlexBasis--min: 600px;
}
