// Importing Global Variables
@import "~@redhat-cloud-services/frontend-components-utilities/styles/all";

.completed-task-details-button {
  margin: auto;
  display: flex;
  justify-content: right;
}

.completed-task-details-info-border {
  padding: 16px;
  width: 80%;
}

.page-header-title {
  margin-right: 8px;
}
